
img{
    width:100%;
    max-height: 100%;
    height:auto;
  }


.parent{
    display:grid;
    grid-template-rows: 0.75fr 5fr;
    grid-template-columns:1fr 1fr 1fr 1.75fr;
    width: 100%;
    height: 100vh;
  }

  .child{
    /*border: 1px solid black;*/
  }

  .home{
    text-align: center;
    font-family: Apple Chancery, cursive, Verdana, sans-serif;
  }

  .centerText{
    text-align: center;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .child-one{
    grid-row: 1/ span 1;
    grid-column:1 / span 1;
    background-color:lightslategrey;
    font-family: Apple Chancery, cursive, Verdana, sans-serif;
  }
  
  .child-two{
    grid-row: 1/ span 1;
    grid-column: 2 / span 1;
    background-color:lightslategrey;
    font-family: Apple Chancery, cursive, Verdana, sans-serif;
  }
  
  .child-three{
    grid-row: 1/ span 1;
    grid-column: 3 / span 1;
    background-color:lightslategrey;
    font-family: Apple Chancery, cursive, Verdana, sans-serif;
  }
/*
  .child-four{
    grid-row: 1/ span 1;
    grid-column: 4 / span 1;
    background-color:lightslategrey;
    font-family: Apple Chancery, cursive, Verdana, sans-serif;
  }*/

  .child-five{
    grid-row: 1/ span 2;
    grid-column: 4 / span 4;
    background-color:lightslategrey;
  }

  .child-six{
    grid-row: 2/ span 1;
    grid-column: 1 / span 3;
    background-color: silver;
  }


  .bottom-right{
    position: absolute;
    bottom: 30px;
    left: 100px;
    color:darkslategrey;
  }

  .about{
    transform: translateY(50%);
    text-align: left;
    width: 50%;
    transform: translateX(50%);
    font-size: large;
    margin-top: 3%;
  }

  .experience{
    transform: translateY(50%);
    width: 80%;
    transform: translateX(15%);
    font-size: large;
    text-align: left;
    margin-top: 5%;
  }

  .skills{
    transform: translateY(50%);
    width: 75%;
    transform: translateX(20%);
    font-size: large;
    text-align: left;
    margin-top: 3%;
  }